<div class="col-md-6">
<h2>My Heroes</h2>
<ul class="list-group">
  <li class="list-group-item list-group-item-action" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.active]="hero === selectedHero">
    <span class="hero-element">
      <span class="tag tag-default tag-pill">{{hero.id}}</span>
      {{hero.name}}
      <span *ngIf="hero.alterEgo">({{hero.alterEgo}})</span>
    </span>
    <button class="btn btn-danger pull-md-right delete-button" (click)="deleteHero(hero, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button class="add-hero btn btn-outline-primary" (click)="addHero()">Add New Hero</button>
<div *ngIf="selectedHero == null">
  <my-hero-detail (close)="close($event)"></my-hero-detail>
</div>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button class="btn btn-secondary" (click)="gotoDetail()">View Details</button>
</div>
</div>